<h3 data-bind="res: 'heading_refanalysis_querydetails'"></h3>

<!-- ko with: Query -->
<div data-bind="if: LoadedDef() && Loaded()">
    <div data-bind="foreach: Definition().Fields">
        <dl>
            <dt data-bind="text: Label"></dt>
            <!-- ko if: !($root.IsCustomer && Entity == 'File' && !$root.IsPaid()) -->
            <dd data-bind="viewText: { Field: $data, Item: $parent.Entity }"></dd>
            <!-- /ko -->
            <!-- ko if: $root.IsCustomer && Entity == 'File' && !$root.IsPaid() -->
            <dd><a class="btn btn-link" disabled data-bind="res: 'biblref_no_access_to_file_not_paid'"></a></dd>
            <!-- /ko -->
        </dl>
    </div>
</div>
<!-- ko if: NoAccess -->
<div class="alert">The page does not exists or you don't have permissions to open it.</div>
<!-- /ko -->
<!-- /ko -->