<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingService2005Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:80/ReportServer/ReportService2005.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingService2005Soap"
                contract="SSRS.ReportingService2005Soap" name="ReportingService2005Soap" />
        </client>
    </system.serviceModel>
</configuration>