@model String
@{
    ViewBag.Title = "Forgotten Password";
    Layout = "_Login.cshtml";
}

<h3 class="form-signin-heading">Забравена парола</h3>
<form class="form-horizontal" method="post">
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="control-group">
        <p>На адрес <strong>@Model</strong> са изпратени инструкции за смяна на вашата парола. Ако до няколко минути не получите имейл в папка "Входящи" в пощенската си кутия, проверете "Спам".</p>
    </div>
</form>
