@{
    ViewBag.Title = "Forgotten Password";
    Layout = "_Login.cshtml";
}

<h3 class="form-signin-heading">Забравена парола</h3>
<form class="form-horizontal" method="post">
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="control-group">
        <p>Въведете имейла, с който сте регистриран, за да продължите.</p>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputEmail">Имейл</label>
        <div class="controls">
            <input type="email" id="inputEmail" name="Email" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Изпрати</button>
        </div>
    </div>
</form>
