@model String
@{
    ViewBag.Title = "Recover Password";
    Layout = "_Login.cshtml";
}

<h3 class="form-signin-heading">Забравена парола</h3>
<form class="form-horizontal" method="post">
    <div>
        @Html.ValidationSummary()
    </div>
    <div class="control-group">
        <p>Успешно сменихте вашата парола.</p>
        @Html.ActionLink("Вход в системата", "Index")
    </div>
</form>
