@{
    ViewBag.Title = "RegisterComplete";
    Layout = "_Login.cshtml";
}

<h3>Регистрацията ви завърши.</h3>
<p>Ще получите имейл с потвърждение. Едва след това може да започнете работа със системата.</p>
